<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">8:00 - 8:30</th>
    <th class="tg-031e">Registration</th>
  </tr>
  <tr>
    <td class="tg-031e">9:00 - 9:15</td>
    <td class="tg-031e">Keynote</td>
  </tr>
  <tr>
    <td class="tg-031e">9:15 - 10:15</td>
    <td class="tg-031e">Panel Discussion</td>
  </tr>
  <tr>
    <td class="tg-031e">10:15 - 11:00</td>
    <td class="tg-031e">Where is the pug going to be - The Wearable technologies -- Karthik &amp; Swaathi</td>
  </tr>
  <tr>
    <td class="tg-031e">11:00 - 11:15</td>
    <td class="tg-031e">Tea Break </td>
  </tr>
  <tr>
    <td class="tg-031e">11:15 - 12:00</td>
    <td class="tg-031e">Google Glass APIs and demos - Hariharasudan</td>
  </tr>
  <tr>
    <td class="tg-031e">12:00 - 12:45</td>
    <td class="tg-031e">Using Containers on Google Cloud Platform - the future of Cloud! - Ashwin Shankar</td>
  </tr>
  <tr>
    <td class="tg-031e">12:45 - 1:30</td>
    <td class="tg-031e">Lunch + Networking + Game</td>
  </tr>
  <tr>
    <td class="tg-031e">1:30 - 2:15</td>
    <td class="tg-031e">Perks of Polymer - Santhosh</td>
  </tr>
  <tr>
    <td class="tg-031e">2:15 - 2:30</td>
    <td class="tg-031e">Going material - Materializing your apps - Muthu</td>
  </tr>
  <tr>
    <td class="tg-031e">2:30 - 2:45</td>
    <td class="tg-031e">Break</td>
  </tr>
  <tr>
    <td class="tg-031e">2:45 - 3:30</td>
    <td class="tg-031e">Web Literacy - Unveiling the power of Free, Open and Accessible Web.</td>
  </tr>
  <tr>
    <td class="tg-031e">3.30 - 4.15</td>
    <td class="tg-031e">Why should you bother about GIT for your development! - Jeyanthan</td>
  </tr>
  <tr>
    <td class="tg-031e">4:15 - 5:30</td>
    <td class="tg-031e">Lightning talks and App Demos</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e">Gala Time and Saying your Goodbyes!</td>
  </tr>
</table>